<!doctype html>
<html lang="{{locale}}">
{% include 'sections/head.njk' %}
    <body>
        <!-- Skip link -->
        <a href="#mainContainer" class="govcy-skip-link govcy-mb-0">{{ site.localization[locale].skip_to_main }}</a> 
        {% include 'sections/header.njk' %}
        <!--Main-->
        <main class="govcy-container govcy-my-4" id="mainContainer">
            <div class="row">
                <div class="govcy-col-{% if showCategoryMenu %}9{% else %}8{% endif %} govcy-order-last">
                    <h1>{{ title }}</h1>
                    {% if pageType=="blog" -%}
                    <p class="post-date">Posted on 
                                      <time datetime="{{ page.date | dateISO }}">{{ page.date | dateOnly }}</time> 
                                      • Tagged with 
                                      {% for tag in tags -%}
                                        {% if tag !== 'blog' and tag !== 'en' %}
                                            <a class="post-tag" href="{{ ('/tags/' ~ tag)  }}">{{ tag }}</a>
                                        {% endif %}
                                      {%- endfor %}</p>
                    {% endif %}
                    {% if image %} 
                    <img aria-hidden="true" src="{{ (site.imagesLocation  ~  image)  }}" alt="Graphic for {{ title }}" class="img-fluid pop-small govcy-mb-4"></a>
                    {% endif %}
                    <div class="blog-page">
                    {{ content | safe }}
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer -->
        {% include 'sections/footer.njk' %}
        <!-- js stuff -->
        {% include 'sections/js.njk' %}       
    </body>
</html>