<!doctype html>
<html lang="{{locale}}">
{% include 'sections/head.njk' %}
    <body>
        <!-- Skip link -->
        <a href="#mainContainer" class="govcy-skip-link govcy-mb-0">{{ site.localization[locale].skip_to_main }}</a> 
        {% include 'sections/header.njk' %}
        <!--Main-->
         <!--Main-->
        <main class="govcy-container govcy-my-4" id="mainContainer">
            <div class="row">
                <div class="govcy-col-{% if showCategoryMenu %}9{% else %}8{% endif %} govcy-order-last">
                    <h1>{{ title }}</h1>
                    <ul class="govcy-pl-0" data-pagefind-ignore>
                    {%- for pag in pagination.items  -%}
                        {#- Checks for same locale -#}
                        {% if locale  == pag.data.locale -%}
                            {#- Checks if we want to show the index page -#}
                            {% if (pag.fileSlug == category and showIndexInCategoryMenu) or pag.fileSlug != category -%}
                                <li class="nav-side govcy-br-bottom-1 govcy-br-bottom-standard govcy-py-2 govcy-mb-4">
                                    <h2 class="govcy-fs-3 govcy-mb-1">
                                        <a href="{{ pag.url  }}">
                                            {{ pag.data.title }}
                                        </a>
                                    </h2>
                                    <p class="post-date govcy-mb-1">
                                      Posted on 
                                      <time datetime="{{ pag.date | dateISO }}">{{ pag.date | dateOnly }}</time> 
                                      • Tagged with 
                                      {% for tag in pag.data.tags -%}
                                        {% if tag !== 'blog' and tag !== 'en' %}
                                            <a class="post-tag" href="{{ ('/tags/' ~ tag)  }}">{{ tag }}</a>
                                        {% endif %}
                                      {%- endfor %}
                                    </p>
                                    {% if pag.data.image %} 
                                    <a href="{{ pag.url  }}"><img style="height:180px" src="{{ (site.imagesLocation ~ pag.data.image)  }}" alt="graphic for {{ pag.data.title }}" class="img-fluid govcy-mb-2"></a>
                                    {% endif %}
                                    <p>{{pag.data.summary}}</p>
                                </li>
                            {%- endif %}
                        {%- endif %}
                    {%- endfor -%}
                    </ul>
                </div>
            </div>

    <div class="row"> 
        {% if pagination.pageLinks.length > 1 %}
    <p>
      Showing
      <span>
        {{ (pagination.pageNumber * pagination.size) + 1 }}
      </span>
      to
      <span>
        {% if pagination.nextPageLink %}
          {{ (pagination.pageNumber * pagination.size) + pagination.size }}
        {% else %}
          {{  collections[category].length  }}
        {% endif %}
      </span>
      of
      <span>{{ collections[category].length }}</span>
      results
    </p>
{% endif %}
<nav aria-label="pagination" class="pagination govcy-mb-3">
    <ul>
    {% if pagination.previousPageLink %}
      <li><a class="" href="{{ pagination.previousPageHref  }}"><span class="govcy-visually-hidden-error">Go to </span>Previous<span class="govcy-visually-hidden-error"> page</span></a></li>
    {% else %}
      <li><span class="govcy-mr-2">Previous</span></li>
    {% endif %}
    {%- for pageEntry in pagination.pages %}
        <li><a class="" href="{{ pagination.hrefs[ loop.index0 ]  }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}><span class="govcy-visually-hidden-error">Go to page number </span>{{ loop.index }}</a></li>
    {%- endfor %}
    {% if pagination.nextPageLink %}
      <li><a class="" href="{{ pagination.nextPageHref  }}"><span class="govcy-visually-hidden-error">Go to </span>Next<span class="govcy-visually-hidden-error"> page</span></a></li>
    {% else %}
      <li><span>Next</span></li>
    {% endif %}
    </ul>
</nav>
        </main>
        <!-- Footer -->
        {% include 'sections/footer.njk' %}
        <!-- js stuff -->
        {% include 'sections/js.njk' %}       
    </body>
</html>