    <footer class="govcy-container-fluid govcy-p-3 govcy-pl-0 govcy-d-print-none">
        <div class="govcy-container">
            <div class="row">   
                <div class="govcy-footer">
                        <ul class="govcy-d-inline-block govcy-m-0  govcy-pl-0 govcy-efs-medium">
                            <li><a href="{{ '/privacy-statement/' | url }}">{{ site.localization[locale].privacy_label }}</a></li>
                            <li><a href="{{ '/cookie-policy/' | url }}">{{ site.localization[locale].cookie_label }}</a></li>
                            <li><a href="{{ '/accessibility/' | url }}">{{ site.localization[locale].accessibility_label }}</a></li>
                            <li class="govcy-d-block govcy-text-dark">{{ site.localization[locale].copyright_label }}</li>
                        </ul>
                </div>
            </div>
        </div>
    </footer>