---
title: "Accessibility"
hideSearch: true
---

<p>I am committed to making this website accessible and user friendly to everyone. I really care about building accessible websites so, if you experience any accessibility issues, please don't hesitate to contact me at <a href="mailto:{{ site.localization[locale].admin_email }}">{{ site.localization[locale].admin_email }}</a>.</p>

<h2>Compatibility with browsers and assistive technology</h2>

<p>The service is not compatible with:</p>

<ul>
  <li>Internet Explorer 9 and older</li>
</ul>

<h2>Limitations and alternatives</h2>

<p>The website includes code segments which are syntax highlighted with different text colors, depending on the language of the code shown. Some of these colours might have low contrast between text and background colour.</p>

<p>Javascript is required for the search functionality to work properly.</p>

<h2>Assessment approach</h2>

<p>The website has been assessed for accessibility using:</p>

<ul>
  <li><a href="https://pa11y.org/" target="_blank">Pa11y</a></li>
  <li><a href="https://www.nvaccess.org/download/" target="_blank">NVDA for Windows</a></li>
  <li><a href="https://wave.webaim.org/" target="_blank">WebAIM’s WAVE Evaluation tool</a></li>
</ul>

<h2 id="report">Report</h2>

<p>This report was created on <b><time datetime="{{ accessibilityresults.date | dateISO }}">{{ accessibilityresults.date | dateOnly }}</time></b> based on an automated test performed with <a href="https://pa11y.org/" target="_blank">pa11y</a>.</p>

<div data-pagefind-ignore class="govcy-table-responsive">
<table class="govcy-table"> 
    <thead>
        <tr class="govcy-br-input">
            <th scope="col">Page</th>
            <th scope="col">Score</th>
            <th scope="col">Issues</th>
        </tr>
    </thead>
    <tbody>
    {% for result in accessibilityresults.results %}
    <tr>
        <td><a href="{{ result.url }}">{{ result.url }}</a></td>
        <td>{% if result.issues.length > 0 %}<span class="fail-tag">Fail</span>{% else %}<span class="success-tag">Pass</span>{% endif %}</td>
        <td>
             <ol>
                {% for issue in result.issues %}
                <li>{{ issue.message }}</li>
                {% endfor %}
            </ol>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>