---
title: "Search"
category: "search"
layout: "blogPage"
pageType: "page"
breadcrumbs: [{"name":"Search", "url": "/search1/" }]
hideSearch: true
---
<link href="{{ '/pagefind/pagefind-ui.css' | url}}" rel="stylesheet">

<div id="search1" class="search"></div>
<script src="{{ '/pagefind/pagefind-ui.js' | url}}" onload="new PagefindUI({ element: '#search1', showImages: true }); document.querySelector('.pagefind-ui__search-input').setAttribute('aria-label', 'Search');"></script>
